
.flex-item .item-amount {
    padding: 10px;
}

.total-price {
    /* margin: 0px 0px 0px 20px; */

    margin: 0px 50px 20px 20px;
    position: relative;
    text-align: right;
}

.total-price .price-label {
    text-decoration: underline;
    font-size: 22px;
}

.total-price .price-amount {
    font-weight: bold;
    font-size: 30px;
}

.buy-items {
    margin: 0px 50px 50px 20px;
    position: relative;
    text-align: right;
}

.buy-items button {
	background-color: #eb5f5f;
	font-weight: bold;
	color: rgb(50, 50, 50);
    border: 1px solid #fa3030;
    border-radius: 6px;
	padding: 7px 6px;
    cursor: pointer;
    outline: none;
}

.buy-items button:hover {
	background-color: #e25151;
}

.buy-items button:active {
    position: relative;
	top: 1px;
}