/********reset for all browsers **********
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
   }
   
/* -------------HTML5 display-role reset for older browsers -----------
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
   }
   ol, ul {
	list-style: none;
   }
blockquote, q {
	quotes: none;
   }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
   }
table {
	border-collapse: collapse;
	border-spacing: 0;
   }
   
/*======================== end of reset =====================*/


/*--------------------------------------*/
:root {
    --imageHeight: 150px;
    --imageWidth: 150px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 60px;
    background: #72a2c4;
    display: block;
    padding: 0px;
}

.navbar ul li a .logo{
    width: 150px;
    height: 60px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0px 5%;
    padding: 0px 0px;
}

.navbar ul li {
    margin: 0px 5px;
}

.navbar li:hover {
    background: #ced6db;
}

.navbar img {
    width: 55px;
    height: 60px;
}

.navbar .search-box {
    display: flex;
    margin: 20px 0 0 10px;
    height: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    /* border: 5px solid green; */
}

form {
    margin: 0px 0 0px 0;   
    padding: 0px 0 0px 0;
    width: 80%; /* % for resizing */
    padding-bottom: 9px;
    display: flex;
    align-items: center;
    /* border: 5px solid red; */
}

.navbar .search-box input {
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    font-size: 22px;
    width: 100%; /* % for resizing */
    outline: none;
    height: 30px;
}

.navbar .search-box .searchButton {
    width: 30px;
    height: 30px;
    background-color: #ced6db;
    padding-left: 4px;
    border: 1px solid #fff;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    outline: none;
    color: #555555;
}

.navbar .search-box .searchButton:hover {
    background-color: #c5ccd1;
}

.content-box{
    width: 100%;
    text-align: center;
    height: fit-content;
    padding-bottom: 1em;
}

.sub-box{
    display: inline-block;
    width: calc(100%/4);
    margin: 1em;
    box-shadow: 2px 2px 5px rgb(102, 102, 102);
    border: gray solid;
    border-width: 1px;
    height: 120px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 5px;
    /* todo change color! */
    color: black;
    text-shadow: 2px 2px 3px gray;
    font-size: larger;
    line-height: 60%;
}

.sub-box p{
    padding: 35px 0;
}

.sub-box:hover{
    background-color: lightgray;
    position: relative;
    animation-name: pressing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-blend-mode: lighten;
}

.sub-box img:hover{
}

@keyframes pressing {
    0%   {background-color: lightgray; left:0px; top:0px;}
    50% {background-color: lightgray; left:5px; top:5px; box-shadow: 0px 0px;}
    100% {background-color: lightgray;; left:0px; top:0px; box-shadow: 2px 2px rgb(75, 75, 75);}
  }

footer {
    padding: 10px 0 15px 0;
    background: #72a2c4;
}

footer p {
    color: black;
    text-align: center;
    font-size: small;
    font-style: italic;
}

/*-----------------------------------------------------------*/
.sort{
    float: right;
    margin-right: 60px;
}

.sort{
    position: relative;
    display: inline-block;
}

.sortbtn {
    background-color: #ffffff;
    color: #72a2c4;
    font-weight: bold;
    padding: 5px 2em 5px 2em;
    margin-top: 10px;
    font-size: 16px;
    border: solid 1px;
    cursor: pointer;
    outline: none;
  }

.sort-list{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.sort-list a {
    color: black;
    margin: 22px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.show{
    display: block;
}

.items {
    margin: 0px 20px 0px 20px;
}

.items .flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 50px 0px 50px 0px;
    width: 100%;
    height: 100%;

    border: ridge lightgray;
    border-width: 2px 0px 2px 0px;
}

.flex-item .item-image {
    height: var(--imageHeight);
    width: var(--imageWidth);
}

.flex-item .item-description {
    width: 70%;
    padding: 0 10px;
}

.flex-item .item-description .name {
    font-weight: bold;
}

.flex-item .item-description .description {
}

.flex-item .item-description .price {
}

.flex-item .item-button button {
	background-color: #ced6db;
	font-weight: bold;
	color: rgb(50, 50, 50);
    border: 1px solid #a4abaf;
    border-radius: 6px;
	padding: 7px 10px;
    cursor: pointer;
    outline: none;
}

.flex-item .item-button button:hover {
	background-color: #c5ccd1;
}

.flex-item .item-button button:active {
    position: relative;
	top: 1px;
}

.flex-item .item-amount {
    padding: 10px;
}

.total-price {
    /* margin: 0px 0px 0px 20px; */

    margin: 0px 50px 20px 20px;
    position: relative;
    text-align: right;
}

.total-price .price-label {
    text-decoration: underline;
    font-size: 22px;
}

.total-price .price-amount {
    font-weight: bold;
    font-size: 30px;
}

.buy-items {
    margin: 0px 50px 50px 20px;
    position: relative;
    text-align: right;
}

.buy-items button {
	background-color: #eb5f5f;
	font-weight: bold;
	color: rgb(50, 50, 50);
    border: 1px solid #fa3030;
    border-radius: 6px;
	padding: 7px 6px;
    cursor: pointer;
    outline: none;
}

.buy-items button:hover {
	background-color: #e25151;
}

.buy-items button:active {
    position: relative;
	top: 1px;
}



/*-----------------------------------------------------------*/





@media screen and (max-width: 414px) {

    .navbar ul { /* works without this too but saves space --> more width for search-bar*/
        margin: 0px 0%;
        padding: 0;
    }
}

@media screen and (max-width: 550px) {

    /* categories for mobile screen */
    .sub-box{
        width: 90%;
        margin: 0.6em;
        font-size: x-large;
        line-height: 20%;
        /* border: 5px solid red; */
    }
   
